*
{
    font-family: "Georgia", serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

body
{
    color: black;
    background: white;
}

a
{
    text-decoration: none;
    color: #3651f6;
}

a:active
{
    color: #db3549;
}

a:visited
{
    color: #3651f6;
}

a:hover
{
    color: #457e6f;
    text-decoration: underline;
}

table
{
    border-collapse: collapse;
}

th
{
    padding: 0 0.5em 0 0.5em;
}

td
{
    padding: 0 0.5em 0 0.5em;
    border: 1px solid black;
    vertical-align: top;
}

ul
{
}

li
{
    list-style-type: none;
}

textarea, input, select
{
    width: 20em;
    margin-bottom: 1em;
}

textarea
{
    width: 40em;
    height: 10em;
}

input.submit
{
    width: auto;
}

p
{
    text-align: justify;
}

p.alias
{
    margin-top: 0.5em;
}

p.examples
{
    margin-top: 0.5em;
    font-weight: bold;
}

div.container
{
    margin: 2em 0 0 2em;
}

ul.menu
{
    margin-bottom: 2em;
    border-collapse: collapse;
}

ul.menu li
{
    display: inline;
    padding: 0 1em 0 1em;
    border: 1px black solid;
    margin: 0;
}

span.function, span.xsampa
{
    font-family: "Courier New", monospace;
}

span.ipa
{
    font-family: "Times New Roman", serif;
}

span.priority0, span.priority1
{
    font-weight: bold;
}

span.priority0
{
}

span.priority1
{
    color: green;
}

span.priority2
{
    color: blue;
}

span.priority3
{
    color: orange;
}

span.unknownPriority
{
    color: red;
}

td
{
    max-width: 25em;
}

table.lexicon
{
    margin: 2em 0 5em 0;
}

p.error
{
    color: red;
}

p.translationDescription
{
    width: 30em;
    margin-bottom: 2em;
}

p.translationOutputDescription
{
    font-weight: bold;
    margin-bottom: 0.5em;
}

ul.translation
{
    margin-bottom: 1em;
}

ul.translation li
{
    margin-left: 2em;
}